.nav {
  /* flex box layout */
  position: relative;;
  margin: 0 0px 20px;
  overflow: hidden;
  min-width: fit-content;
  margin-top: 275px;
  margin-bottom:auto;
  width: fit-content;
  text-align: center;
  display: flex;
}

.nav div{
  flex-flow: column nowrap;
}

.nav .navList{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: right;
  border-right: 1px solid grey;
}


.navList .navLink {
  color: #0c0c0c;
  background-color: none;
  display: list-item;
  text-align: right;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  padding-left: 30px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

#active {
  background-color: #951c2a;
  color: white;
}



.navLink:hover {
  background-color: #951c2a;
  color: white;
}
