.nav {
  /* flex box layout */
  margin: 0 0px 30px;
  overflow: hidden;
  height:90vh;
  width: fit-content;
  z-index: -1;
  text-align: center;
  display: flex;
}

.nav a {
  
}

.nav div{
  flex-flow: column nowrap;
}

.nav .navList{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: right;
  border-right: 1px solid grey;
}


.navLink {
  color: #0c0c0c;
  background-color: none;
  display: list-item;
  text-align: right;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}



.navLink:hover {
  background-color: #008183;
}
